@{
    Layout = "../Shared/_Layout.cshtml";
}
@section Title
{
    <title>Quasar Light О магазине</title>
}
<div class="media-container">
    <!-- Intro -->
    <section class="site-section site-section-light site-section-top">
        <div class="container">
            <h1 class="text-center animation-slideDown"><i class="fa fa-building-o"></i> <strong>Quasar Light</strong></h1>
            <h2 class="h3 text-center animation-slideUp"><strong>Приносим свет в жизни людей!</strong></h2>
        </div>
    </section>
    <!-- END Intro -->
    <!-- Gmaps.js (initialized in js/pages/about.js), for more examples you can check out http://hpneo.github.io/gmaps/examples.html -->
    <div id="gmap-top" class="media-map"></div>
</div>
<section class="site-content site-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="site-block">
                    <h3 class="site-heading"><strong>О нас</strong></h3>
                    <p>Мы занимаемся поставкой товаров и оборудования для светодиодного освещения напрямую от производителей в Китае. Ассортимент товаров будет пополняться с каждым днём, следите за новостями!</p>
                </div>
                <div class="site-block">
                    <h3 class="site-heading"><strong>Где</strong> мы находимся?</h3>
                    <p>Склад наших товаров находится в г.Таганрог. Доставку по городу осуществляем бесплатно! Вы сможете забрать товар прямо со склада, в любое время после оформления и обработки заказа.</p>
                </div>
                @*<div class="site-block">
                    <h3 class="site-heading"><strong>What</strong> will the future bring?</h3>
                    <p>Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque? Proin rhoncus dui at ligula vestibulum ut facilisis ante sodales! Suspendisse potenti. Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget!</p>
                </div>*@
            </div>
            <div class="col-sm-4">
                @*<div class="site-block">
                    <table class="table table-bordered table-striped text-center">
                        <thead>
                        <tr>
                            <th class="text-center">Year</th>
                            <th class="text-center">Projects</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="width: 50%;">2009</td>
                            <td><strong>300</strong></td>
                        </tr>
                        <tr>
                            <td>2010</td>
                            <td><strong>450</strong></td>
                        </tr>
                        <tr>
                            <td>2011</td>
                            <td><strong>1000</strong></td>
                        </tr>
                        <tr>
                            <td>2012</td>
                            <td><strong>1200</strong></td>
                        </tr>
                        <tr>
                            <td>2013</td>
                            <td><strong>1800</strong></td>
                        </tr>
                        <tr>
                            <td>2014</td>
                            <td><strong>2000</strong> &amp; Counting..</td>
                        </tr>
                        </tbody>
                    </table>
                </div>*@
                <div class="site-block">
                    <p class="text-center">
                        <img src="/Content/img/lamp-logo-64.png" alt="Avatar" class="img-circle">
                    </p>
                    <blockquote>
                        <p>Всей тьмы бездонного космоса не хватит, чтобы погасить пламя одной свечи.</p>
                        <footer><strong>Хейзел Уизенкнот</strong>, Я всё ещё мечтаю о тебе…</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>

@*<script>
    $(document).ready(function() {
        $("#how-it-works").addClass("page-scroll-active");
    });
</script>*@