@font-face {
	font-family: Raleway-Light;
	src: url(/Content/fonts/Raleway-Light_0.ttf);
}
/*@font-face {
	font-family: Raleway-ExtraBold;
	src: url(/Content/fonts/Raleway-ExtraBold_0.ttf);
}*/
@font-face {
	font-family: Raleway-Regular;
	src: url(/Content/fonts/Raleway-Regular_0.ttf);
}
@font-face {
	font-family: Raleway-SemiBold;
	src: url(/Content/fonts/Raleway-SemiBold_0.ttf);
}
@font-face {
	font-family: Raleway-Bold;
	src: url(/Content/fonts/Raleway-Bold_0.ttf);
}
/*@font-face {
	font-family: KelsonSans;
	src: url(/Content/fonts/KelsonSans.otf);
}
@font-face {
	font-family: Raleway-ExtraLight;
	src: url(/Content/fonts/Raleway-ExtraLight.ttf);
}*/
@font-face {
	font-family: Raleway-Medium;
	src: url(/Content/fonts/Raleway-Medium_0.ttf);
}
@font-face {
	font-family: Raleway-Medium;
	src: url(/Content/fonts/CentSchbook_Win95Bt.ttf);
}
@font-face {
    font-family: FlashRogersLaser;
    src: url(/Content/fonts/FlashRogersLaser.ttf);
}